<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Register</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <meta charset="UTF-8"></meta>
    <link rel="stylesheet" href="static/css/stylesheet.css">
    <script language="javascript" type="text/javascript" src="/sstatic/js/script.js"></script>
</head>

<body class="bodystyle">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Principal">DevParaiso</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/Login">Sign in</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container" style="margin-left:35%; width: 30%; height: 20%; margin-top: 8%" responsive>
        <div class="panel panel-default">
            <div class="panel-heading" align="center">
                <FONT SIZE=4 color="1ABC9C">Register</FONT>
            </div>
            <div class="panel-body">
                <form action="success.html" onsubmit="return validaciones()">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-user"></i>
                            </span>
                            <input type="text" class="form-control" id="email" name="email" placeholder="user@example.com">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="text" required onKeyPress="return SoloNumeros(event);" class="form-control" id="phone" name="phone" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="text" required onkeypress="return soloLetras(event);" class="form-control" id="attendent" name="attendent" placeholder="Encargado">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-lock"></i>
                            </span>
                            <input type="text" required onKeyPress="return SoloNumeros(event);" class="form-control" id="cedula" name="cedula" placeholder="Cedula">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-warning">Register</button>
                    <button type="submit" class="btn btn-warning">Cancel</button>
                </form>

            </div>
        </div>
    </div>

    <footer class="container-fluid bg-4 text-center">
        <p>DevParaiso Programathon © 2018</p>
    </footer>
</body>
<script>
    function soloLetras(e) {
        key = e.keyCode || e.which;
        tecla = String.fromCharCode(key).toString();
        letras = " áéíóúabcdefghijklmnñopqrstuvwxyzÁÉÍÓÚABCDEFGHIJKLMNÑOPQRSTUVWXYZ";//Se define todo el abecedario que se quiere que se muestre.
        especiales = [8, 37, 39, 46, 6]; //Es la validación del KeyCodes, que teclas recibe el campo de texto.

        tecla_especial = false
        for (var i in especiales) {
            if (key == especiales[i]) {
                tecla_especial = true;
                break;
            }
        }

        if (letras.indexOf(tecla) == -1 && !tecla_especial) {
            alert('Este campo solo acepta valores alfabeticos');
            return false;
        }
    }
    function SoloNumeros(evt) {
        if (window.event) {//asignamos el valor de la tecla a keynum
            keynum = evt.keyCode; //IE
        }
        else {
            keynum = evt.which; //FF
        }
        //comprobamos si se encuentra en el rango numérico y que teclas no recibirá.
        if ((keynum > 47 && keynum < 58) || keynum == 8 || keynum == 13 || keynum == 6) {
            return true;
        }
        else {
            alert('Este campo solo acepta valores numericos');
            return false;
        }
    }
    function validaciones() {
        if (validarAttendent() == true && validaTelefono() == true && longitudEmail() == true && validaPass() == true) {
            return true;
        } else {
            return false;
        }
    }
    function validarAttendent() {
        var texto = document.getElementById("attendent").value;
        if (texto.length < 2) {
            alert('Falta valores');
            limpiar();
            return false;
        } else if (texto.length >= 35) {
            alert('Longitud de caracteres superado');
            limpiar();
            return false;
        } else {
            return true;
        }
    }
    function limpiarAttendent() {
        document.getElementById("attendent").value = "";
    }
    function limpiarAttendent() {
        document.getElementById("phone").value = "";
    }
    function limpiarCorreo() {
        document.getElementById("email").value = ""
    }
    function limpiarPass() {
        document.getElementById("pass").value = ""
    }
    function validaTelefono() {
        var texto = document.getElementById("phone").value;
        if (texto == "-" || texto == " ") {
            alert('El numero telefonico no puede contener guiones, o espacios');
            limpiarAttendent();
            return false;
        } else if (texto.length < 8) {
            alert('El numero debe contener 8 digitos');
            limpiarAttendent();
            return false;
        } else if (texto.length > 8) {
            alert('Sobre paso la longitud del numero');
            limpiarAttendent();
            return false;
        } else if (texto.length == 4) {
            alert('El texto es de solo 4 digitos');
            limpiarAttendent();
            return false;
        } else {
            return true;
        }
    }
    function isnum() {
        var texto = document.getElementById("phone").value;
        separador = "";
        array = texto.split(separador);
        for (var i = 0; i < array.length; i++) {
            if (isNaN(array[i])) {
                alert('El dato ingresado contiene valores no numericos');
                return false;
            } else {
                return true;
            }
        }
    }
    function longitudEmail() {
        var text = document.getElementById("email").value;
        separador = "";
        var array = text.split(separador);
        var bandera = false;
        var bandera2 = false;
        var validos = "abcdefghijklmnopqrstuvwxyz0123456789-_.@";
        var arrayValidos = validos.split("");
        for (var i = 0; i < array.length; i++) {
            for (var j = 0; j < arrayValidos.length; j++) {
                if (!arrayValidos.includes(array[i])) {
                    bandera = true;
                    break;
                }
            }

        }
        for (var i = 0; i < array.length; i++) {
            if (array[i] == "." && array[i + 1] == ".") {
                bandera2 = true;
                break;
            }
        }
        if (text.length < 8 || text.length > 256) {
            alert('El correo supera los 256 caracteres');
            limpiarCorreo();
            return false;
        } else if (bandera) {
            alert('El correo solo acepta caracteres alfanumericos');
            limpiarCorreo();
            return false;
        } else if (!array.includes('@')) {
            alert('Formato incorrecto del correo, falta caracter "@"');
            limpiarCorreo();
            return false;
        } else if (bandera2) {
            alert('No pueden existir dos "." seguidos');
            limpiarCorreo();
            return false;
        } else if (array[0] == "." || array[array.length - 1] == ".") {
            alert('correo no puede comenzar o terminar con un punto');
            limpiarCorreo();
            return false;
        } else if (array[0] == "@") {
            alert('faltante de caracteres antes del @');
            limpiarCorreo();
            return false;
        } else if (!/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(text)) {
            alert('Se ha ingresado un formato de correo incorrecto');
            limpiarCorreo();
            return false;
        } else {
            return true;
        }
    }
    function validaPass() {
        var user = document.getElementById("cedula").value;
        var pass = document.getElementById("pass").value;
        var arrayPass = pass.split("");
        var banderaUpper = false;
        var banderaLower = false;
        var upper = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
        var arrayUpper = upper.split("");
        var lower = "abcdefghijklmnopqrstuvwxyz";
        var arrayLower = lower.split("");
        for (var i = 0; i < arrayPass.length; i++) {
            if (arrayUpper.includes(arrayPass[i])) {
                alert(arrayPass[i]);
                banderaUpper = true;
                break;
            }
        }
        for (var i = 0; i < arrayPass.length; i++) {
            if (arrayLower.includes(arrayPass[i])) {
                alert(arrayPass[i]);
                banderaLower = true;
                break;
            }
        }
        alert(banderaLower + ":" + banderaUpper)
        if (pass.length < 6) {
            alert('la password es corta, minimo 6 digitos');
            limpiarPass();
            return false;
        } else if (!banderaUpper) {
            alert('La password debe incluir mayusculas');
            limpiarPass();
            return false;
        } else if (!banderaLower) {
            alert('La password debe incluir minisculas');
            limpiarPass();
            return false;
        } else {
            return true;
        }
    }
</script>

</html>